<h3>Create New Meetup</h3>

<form name="submit" class="form" action="/create_meetup" onsubmit="return validateForm()" method="post">
  <label for="name">Meetup Name:</label>
  <input type="text" id="name" name="name" required/>
  <br>
  <br>
  <label for="location">Meetup Location:</label>
  <input type="text" id="location" name="location" required/>
  <br>
  <br>
  <label for="Description">Meetup Description:</label>
  <input type="text" id="description" name="description" pattern=".{20,}" required title="20 characters minimum"/>
  <br>
  <br>
  <input type="submit" value="submit" />
</form>
